@model ControlIngresosGastos.Models.Categoria

@{
    ViewData["Title"] = "Detalles de Categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles de Categoria</h1>

<div>   
    <hr />
    <dl class="row">
        <dt class = "col-md-3">
            @Html.DisplayNameFor(model => model.NombreCategoria)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.NombreCategoria)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd class="col-sm-9">
            @if (Model.tipo == "IN")
            {
                <p>Ingreso</p>
            }
            else
            {
                <p>Gasto</p>
            }
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-9">
            @if (Model.Estado is true)
            {
                <p class="btn btn-outline-primary">Activado</p>
            }
            else
            {
                <p class="btn btn-outline-danger">Desactivado</p>
            }            
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-secondary" asp-action="Index">Regresa a la lista</a>
</div>
